@font-face {
  font-family: "sfpro";
  src: url(./assets/SFPRODISPLAYREGULAR.OTF);
}

:root {
  --primaryTextColor: #000;
  --primaryBackgroundColor: #ffffff;
  --primaryBackgroundSidebar: linear-gradient(180deg, #2e4a6c 0%, #13345a 100%);
  --sidebarWidth: 280px;
  --topBarHeight: 50px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primaryTextColor);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "sfpro";

  ::-webkit-scrollbar {
    background: linear-gradient(180deg, #3088dbe8 0%, #1a699ea0 100%);
    width: 5px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 10px;
  }
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
.ant-breadcrumb-link {
  font-weight: 600 !important;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #0000;
  border-right-color: #3969a0c7;
  position: relative;
  animation: l24 1s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}
.loader:after {
  animation-duration: 4s;
}
@keyframes l24 {
  100% {
    transform: rotate(1turn);
  }
}
