@font-face {
  font-family: "sfpro";
  src: url(./assets/SFPRODISPLAYREGULAR.OTF);
}

:root {
  --primaryTextColor: #000;
  --primaryBackgroundColor: #ffffff;
  --primaryBackgroundSidebar: linear-gradient(180deg, #2e4a6c 0%, #13345a 100%);
  --sidebarWidth: 280px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primaryTextColor);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "sfpro";

  ::-webkit-scrollbar {
    background: linear-gradient(180deg, #3088dbe8 0%, #1a699ea0 100%);
    width: 5px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 10px;
  }
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
.ant-breadcrumb-link {
  font-weight: 600 !important;
}
